<div class="container-fluid position-absolute top-50 start-50 translate-middle">
    <div class="container my-5 text-center rounded border border-dark back px-3 py-5" style="background-color: #e3e3dfa6;">
        <h1 class="text-center">Editar prestamo</h1>
        <hr>
        <p class="fs-5">Eliga por favor su reserva a editar y seleccione buscar.</p>
        <div class="row text-start">
            <div class="col-2">
                <label for="person" class="form-label fs-5">Persona que solicita</label>
            </div>
            <div class="col">
                <select #id name="person" id="person" class="form-control" (change)="editing(id.value)">
                    <option value="Seleccione una opción...">Seleccione una opción...</option>
                    <option *ngFor="let t of info" value="{{t._id}}">{{t._id}} -- {{t.person}} -- {{t.car}}</option>
                </select>
            </div>
        </div>
        <hr>
            <div class="row">
                <input type="hidden" value="<%=temp.id%>" id="id" name="id" class="form-control">
                <div class="col-4">
                    <div class="mb-3 text-start">
                        <label for="persons" class="form-label">Persona que solicita</label>
                        <select name="persons" id="persons" class="form-control">
                            <option id="p" value="">{{booking.person}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-2">
                    <div class="mb-3 text-start">
                        <label for="car" class="form-label">Auto que solicita</label>
                        <select name="car" id="car" class="form-control">
                                <option id="c" value="{{booking.car}}">{{booking.car}}
                                </option>

                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="mb-3 text-start">
                        <label for="dateBooking" class="form-label">Fecha de préstamo</label>
                        <input type="datetime-local" class="form-control" name="dateBooking" id="dateBooking"
                            value="{{booking.booking}}">
                    </div>
                </div>
                <div class="col-3">
                    <div class="mb-3 text-start">
                        <label for="dateDelivery" class="form-label">Fecha de entrega</label>
                        <input type="datetime-local" class="form-control" name="dateDelivery" id="dateDelivery"
                            value="{{booking.delivery}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3 text-start">
                        <label for="observations" class="form-label">Observaciones adicionales</label>
                        <textarea class="form-control" name="observations" id="observations"
                            rows="4">{{booking.observations}}</textarea>
                    </div>
                </div>
            </div>
                <div class="alert alert-danger alert-dismissible fade show text-center fs-5" role="alert" *ngIf="flag">
                    <p class=""><i class="fas fas-alert"></i> No hay resultados para su busqueda</p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="/" class="btn btn-primary"><i class="fas fa-home"></i> Inicio</a>
                    <button type="submit" class="btn btn-success"><i class="fas fa-edit"></i> Editarreserva</button>
            </div>
            <hr>
    </div>
</div>
