
<div class="contain">
    <div class="container-fluid position-absolute top-50 start-50 translate-middle" style="background-color: transparent;">
        <div class="container my-5 text-center rounded border border-dark back px-3 py-5" style="background-color: #e3e3dfa6;">
            <h1 class="text-center">Bienvenido al sistema de prestamo de camionetas</h1><hr>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h3>Agregar reserva</h3>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Agregar reserva de caminoneta</h5>
                            <p class="card-text">Módulo de registro de reserva de camioneta</p>
                            <a href="/create" class="btn btn-success w-50"><i class="fas fa-plus"></i>  Reservar</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h3>Consultar reservas</h3>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Consultar reserva de caminoneta</h5>
                            <p class="card-text">Módulo de consulta de reserva de camioneta</p>
                            <a href="read" class="btn btn-primary w-50"><i class="fas fa-search"></i>  Consultar</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h3>Editar reserva</h3>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Edición de reserva de caminoneta</h5>
                            <p class="card-text">Módulo de edición de reserva de camioneta</p>
                            <a href="update" class="btn btn-warning w-50"><i class="fas fa-edit"></i>  Editar</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h3>Eliminar reserva</h3>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Eliminar reserva de caminoneta</h5>
                            <p class="card-text">Módulo de eliminación de reserva de camioneta</p>
                            <a href="delete" class="btn btn-danger w-50"><i class="fas fa-trash"></i>  Eliminar</a>
                        </div>
                    </div>
                </div>
            </div><hr>
        </div>
    </div>
</div>
